# OS
.DS_Store

# Refused to match
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

admin/node_modules/
admin/dist/

service/node_modules/
service/dist/

store-web/node_modules/
store-web/.next/

# OS
.DS_Store

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
