.layout
  width 100%
  display flex
  flex-wrap wrap

  .item
    width 18%
    border-radius 5px
    background #fff
    margin 1% 1% 0.5% 1%
    cursor pointer
    box-shadow 1px 1px 15px rgba(0, 0, 0, 0.2)
    border 1px solid #ebeef5
    overflow hidden
    transition 0.3s

    &:hover
      box-shadow 0px 0px 15px rgba(0, 0, 0, 0.5)

    .header
      height 45px
      display flex
      align-items center
      padding 0 10px
      border-bottom 1px solid #ebeef5

      .title
        overflow hidden
        text-overflow ellipsis
        white-space nowrap

      & > span:nth-child(1)
        margin 0 5px
        font-size 18px

    ul
      margin-bottom 0
      padding 15px 15px

      li
        line-height 30px

        span
          font-weight bold
          user-select none