.layout
  .context
    white-space: pre-line
  :global(.ant-image)
    border-radius: 8px
    overflow: hidden
    margin-right: 10px
    margin-bottom: 5px
  :global(.ant-descriptions-item-label)
    font-weight: bold
  :global(.ant-image):nth-child(4n)
    margin-right: 0px
  tbody
    tr:nth-last-child(1) > td
      padding-bottom: 0 !important