@import '@/index.sass'

.userHint
  margin: 0

// 新增记录
.addLog
  :global(.ant-modal-body)
    padding-bottom: 0
  :global(.ant-form-item):nth-last-child(1)
    margin-bottom: 0

// 抽屉日志弹窗
.drawer
  @include dialog(drawer,600)
  :global(.ant-drawer-body)
    padding: 0 10px 10px 10px

// 平铺日志列表
.list
  form
    height: 60px
    background: #fff
    margin-bottom: 10px

  :global(.ant-empty-normal)
    margin: 0
    padding: 25px 0 20px 0
    background: #fff
  
  .msg
    padding: 16px 10px
  & > .msg:nth-last-child(1)
    border-bottom: none

.msg
  width: 100%
  padding: 16px 0
  display: flex
  background: #fff
  border-bottom: 1px solid $defaultBorderColor
  .icon
    margin: 4px 10px 0 0
  .ctx
    width: 100%
    .title
      display: flex
      justify-content: space-between
      align-items: center
      font-size: 13px
      margin-bottom: 3px
      span > span:nth-child(1)
        color: rgba(0, 0, 0, 0.5)
      span > span:nth-child(2)
        margin-left: 8px
        color: rgba(0, 0, 0, 0.42)
