.layout {
  width: 100%;
  position: relative;
  padding: 15px 15px 0 15px;

  .clear {
    background-color: #ff4d4f;
    border-color: #ff4d4f;
  }

  .update {
    width: 100%;
  }

  .searchBtn {
    :global(.ant-btn) {
      margin-right: 10px;
      margin-bottom: 16px;
    }
  }

  .shouldUpdate{
    margin: 0;
  }

  :global(.ant-col) {
    padding-left: 0 !important;
  }

  :global(.ant-form-item) {
    display: flex;
  }

  :global(.ant-form-item-control-wrapper) {
    flex: 1;
  }

  :global(.ant-select-selector) {
    position: relative;
    overflow: hidden;
    :global(.ant-select-selection-placeholder) {
      position: absolute;
      width: calc(100% - 10px);
    }
    :global(.ant-select-selection-item) {
      position: absolute;
      width: calc(100% - 16px) !important;
    }
  }

  :global(.ant-form-item-explain) {
    position: absolute;
    bottom: -21px;
    div {
      display: inline !important;
      white-space: nowrap;
    }
  }

}

.component {
  width: 100%;
}
