.layout
  height 64px
  display flex
  background #ffffff
  justify-content space-between
  box-shadow 1px 1px 0 0 #e8e8e8

  .logo
    display flex
    user-select none

    img
      width 45px
      height 45px
      margin 9px 15px 7px 15px

    ul
      margin 8px 0

      & > li:nth-child(1)
        color black
        margin-top 3px
        font-size 15px

      & > li:nth-child(2)
        font-size 14px
        color rgba(0, 0, 0, 0.6)

  .user
    margin 0 10px
    cursor pointer
    padding 0 10px
    line-height 64px

    .icon
      width 45px
      height 45px
      margin 9.5px 0
      border-radius 50%
      box-shadow 0 1px 4px rgba(0, 21, 41, 0.08)

    span
      margin-left 6px

    &:hover
      background rgba(0, 0, 0, 0.04)

.userSelect
  & > li > span > span:nth-child(2)
    margin-left 5px
